<html>
<style>
td {width: 10 px;
height: 10 px;
}
</style>
<head> 
<title> Игра </title>
</head>
<body>
<p> Здрaвствуйте <%= name %></p>
<table>
<tr> <td></td> <td></td> <td></td> </tr>
<tr> <td></td> <td></td> <td></td> </tr>
<tr> <td></td> <td></td> <td></td> </tr>
</table>
</body>
</html>