<html>
<style>
td {    width: 100px;
    height: 100px;
    border: 1px solid black;
}
</style>
<head> 
<title> Игра </title>
</head>
<body>
<p> Здрaвствуйте <%= name %></p>
<table>
<tr> <td id="11" onclick= 'addcross(this, 1, 1)'></td> <td id="12" onclick= 'addcross(this, 1, 2)'></td> <td id="13" onclick= 'addcross(this, 1, 3)'></td> </tr>
<tr> <td id="21" onclick= 'addcross(this, 2, 1)'></td> <td id="22" onclick= 'addcross(this, 2, 2)'></td> <td id="23" onclick= 'addcross(this, 2, 3)'></td> </tr>
<tr> <td id="31" onclick= 'addcross(this, 3, 1)'></td> <td id="32" onclick= 'addcross(this, 3, 2)'></td> <td id="33" onclick= 'addcross(this, 3, 3)'></td> </tr>
</table>

<div id="chat">

</div>


<input type="text" id="chatmsg"></input>
<input type = 'button' value = 'отправить сообщение' onclick="sendtext()"></input>



<ul id="activegamers">

</ul>
<input type="button" value = "Начать" onclick= 'start()'>

<script src = '/jquery-3.3.1.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var iscross = true;

var pole = [];

for (var ct=1;ct<4;ct++){
	pole[ct] = new Array();
for (var rd=1;rd<4;rd++){
	pole[ct][rd] = 99
}};

var socket;
var canmove = false;
var iscross = true;

$(document).ready(function () {
	 socket = io.connect('https://crossgame.herokuapp.com');
	socket.on('connecting', function () {
            console.log('Соединение...');
        });
 
        socket.on('connect', function () {
            console.log('Соединение установлено!');
			socket.emit("username", {name: "<%= name %>"});
        });
		
		socket.on('gamerslist', function (data) {
			var gamers = "";
			for (var i=0; i<data.gamers.length; i++) {
				if (data.gamers[i]!="<%= name %>" ){
					gamers+="<input type='radio' name='gamer' value='"+data.gamers[i]+"'>" + data.gamers[i] + "</input><br>"
				}
			}
			$("#activegamers")[0].innerHTML = gamers;
		});
		socket.on('gamestarted', function (data) {
            console.log(data);
			canmove = data.canmove;
			iscross = data.canmove;
			$("#activegamers")[0].innerHTML = "Игра началась. " + (data.canmove==true?"Ваш ход.":"Ожидание хода соперника.");
        });
		
		socket.on('message', function (data) {
            //msg(data.name, data.message);
            //message_txt.focus();
			console.log(data);
        });
		socket.on('nextmove', function (msg) {
			if (iscross) {
				pole[msg.x][msg.y]=2;
				var ob = document.getElementById(""+msg.x + msg.y);
				ob.innerHTML = '<img src="/zero.png"></img>';
				if (proverka() == 2) {
				alert('Выиграли нолики')
				location.reload()
				}
			} else {
				pole[msg.x][msg.y]=1;
				var ob = document.getElementById(""+msg.x + msg.y);
				ob.innerHTML = '<img src="/cross.png"></img>';
				if (proverka() == 1) {
				alert('Выиграли крестики')
				location.reload()
				}
			}
			
		var nn = 0;
		for (var s=1;s<4;s++){
		for (var n=1;n<4;n++){
			if (pole[s][n] == 99) {
				nn = nn+1;
			}}}
			if (nn == 0 ) {
				location.reload()
		}
		canmove =true;
		});
		
		
		
		
		
		//чат
		
		
socket.on('chatmsg', function (message) {
	var chatmsg = "";
	console.log(message.gamer+ ':'+ message.txt);
	chatmsg+="<div name='chatmsg'><p>"+message.gamer+":"+message.txt+"</p></div>";
	$("#chat")[0].innerHTML += chatmsg;
});
		
		
	//
		
		
		
		
		socket.emit("message", {message: "msg", name: "name"});
});



 function addcross(ob, i, j){
 if (canmove) {
 
 var nn = 0;
for (var s=1;s<4;s++){
for (var n=1;n<4;n++){
	if (pole[s][n] == 99) {
		nn = nn+1;
	}}}
if (nn != 0 ) {
if (pole[i][j] == 99){
  if (iscross) {

	ob.innerHTML = '<img src="/cross.png"></img>';
	pole[i][j]=1;
} else {
	ob.innerHTML = '<img src="/zero.png"></img>';
	pole[i][j]=2;
}
	if (proverka() == 1) {
		alert ('Выиграли крестики')
		location.reload()
	}
	if (proverka() == 2) {
		alert('Выиграли нолики')
		location.reload()
	}
	canmove = false;
	socket.emit("move", {x: i, y: j});

} else {
alert ('Поле занято');
}} else 
location.reload()
}
}

function proverka(){
if (pole[1][1] == pole[1][2] && pole[1][2] == pole[1][3] && pole[1][1] != 99){
	return pole[1][1];
}
if (pole[2][1] == pole[2][2] && pole[2][2] == pole[2][3] && pole[2][1] != 99){
	return pole[2][1];
}
if (pole[3][1] == pole[3][2] && pole[3][2] == pole[3][3] && pole[3][1] != 99){
	return pole[3][1];
}
if (pole[1][1] == pole[2][1] && pole[2][1] == pole[3][1] && pole[1][1] != 99){
	return pole[1][1];
}
if (pole[1][2] == pole[2][2] && pole[2][2] == pole[3][2] && pole[1][2] != 99){
	return pole[1][2];
}
if (pole[1][3] == pole[2][3] && pole[2][3] == pole[3][3] && pole[1][3] != 99){
	return pole[1][3];
}
if (pole[1][1] == pole[2][2] && pole[2][2] == pole[3][3] && pole[1][1] != 99){
	return pole[1][1];
}
if (pole[1][3] == pole[2][2] && pole[2][2] == pole[3][1] && pole[1][3] != 99){
	return pole[3][1];
}
}

function start() {
	var list = $("input[type='radio']");
	var gamer;
	for (var n=0;n<list.length;n=n+1){
		if (list[n].checked==true){
			gamer = list[n].value;
			}
	}		
	socket.emit("player", {gamer: gamer});
}


//чат
		function sendtext(){
	socket.emit("chatmsg", {gamer: "<%= name %>",txt: document.getElementById("chatmsg").value});	
	document.getElementById("chatmsg").value='';
}

//


</script>
</body>
</html>