<html>
<style>
td {    width: 100px;
    height: 100px;
    border: 1px solid black;
}
</style>
<head> 
<title> Игра </title>
</head>
<body>
<p> Здрaвствуйте <%= name %></p>
<table>
<tr> <td onclick= 'addcross(this, 1, 1)'></td> <td onclick= 'addcross(this, 1, 2)'></td> <td onclick= 'addcross(this, 1, 3)'></td> </tr>
<tr> <td onclick= 'addcross(this, 2, 1)'></td> <td onclick= 'addcross(this, 2, 2)'></td> <td onclick= 'addcross(this, 2, 3)'></td> </tr>
<tr> <td onclick= 'addcross(this, 3, 1)'></td> <td onclick= 'addcross(this, 3, 2)'></td> <td onclick= 'addcross(this, 3, 3)'></td> </tr>
</table>
<script>

var iscross = true;

var pole = [];

for (var ct=1;ct<4;ct++){
	pole[ct] = new Array();
for (var rd=1;rd<4;rd++){
	pole[ct][rd] = 99
}};


 function addcross(ob, i, j){
 var nn = 0;
for (var s=1;s<4;s++){
for (var n=1;n<4;n++){
	if (pole[s][n] == 99) {
		nn = nn+1;
	}}}
if (nn != 0 ) {
if (pole[i][j] == 99){
if (iscross == true) {
ob.innerHTML = '<img src="/cross.png"></img>';
pole[i][j]=1;
} else {
ob.innerHTML = '<img src="/zero.png"></img>';
pole[i][j]=2;
}
if (proverka() == 1) {
alert ('Выиграли крестики')
location.reload()
}
if (proverka() == 2) {
alert('Выиграли нолики')
location.reload()
}
iscross = !iscross;
} else {
alert ('Поле занято');
}} else 
location.reload()
}

function proverka(){
if (pole[1][1] == pole[1][2] && pole[1][2] == pole[1][3] && pole[1][1] != 99){
	return pole[1][1];
}
if (pole[2][1] == pole[2][2] && pole[2][2] == pole[2][3] && pole[2][1] != 99){
	return pole[2][1];
}
if (pole[3][1] == pole[3][2] && pole[3][2] == pole[3][3] && pole[3][1] != 99){
	return pole[3][1];
}
if (pole[1][1] == pole[2][1] && pole[2][1] == pole[3][1] && pole[1][1] != 99){
	return pole[1][1];
}
if (pole[1][2] == pole[2][2] && pole[2][2] == pole[3][2] && pole[1][2] != 99){
	return pole[1][2];
}
if (pole[1][3] == pole[2][3] && pole[2][3] == pole[3][3] && pole[1][3] != 99){
	return pole[1][3];
}
if (pole[1][1] == pole[2][2] && pole[2][2] == pole[3][3] && pole[1][1] != 99){
	return pole[1][1];
}
if (pole[1][3] == pole[2][2] && pole[2][2] == pole[3][1] && pole[1][3] != 99){
	return pole[3][1];
}
}
 
</script>
</body>
</html>